# load dataset
lmdb
pandas
evaluate
jiwer

# augmantations
opencv-python

# TrOCR
torch
torchvision
torchaudio
pillow
transformers
sentencepiece
typer

# TrOCR - small stage1 model dependencies
protobuf
